body {
  background-image: url(https://files.catbox.moe/9op83i.png);
}

.boxie {
  width: auto;
  height: auto;
  background-color: #ffadce;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 3px 3px #ffe470;
}
