body {
  background-image: url(https://files.catbox.moe/9op83i.png);
  background-repeat: repeat;
  background-size: 40px 40px;
}

.boxie {
  width: auto;
  height: auto;
  background-color: #ffadce;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 6px 6px #ffe470;
}

h1, p {
  color: #00c4e2;
  font-family: "Verdanna", "Sans-serif";
  font-size: 30px;
}
